/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with GMI Mendel
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

process {
  executor = 'slurm'
  // clusterOptions = { "-P $params.project " }
}

executor {
  $slurm {
    name = 'cbe'
    queueSize = 1600
  }
}

process{

  clusterOptions = { get_qos_time( task.time ) }

  withLabel: env_x_large{
    clusterOptions = { '--qos="medium" --partition="m"' }
  }
}

params {
  tmpdir = "$SCRATCHDIR/tempFiles/"
  max_memory = 180.GB
  max_cpus = 24
  max_time = 8.h
}

def get_qos_time(obj) {
    if( obj instanceof nextflow.util.Duration ) {
        def stime = 9.h as nextflow.util.Duration
        def mtime = 49.h as nextflow.util.Duration
        // def mtime = 49.h as nextflow.util.Duration
        if( obj.compareTo(stime) == -1 ){
            return '--qos="short"'
        }
        else if ( obj.compareTo(mtime) == -1 ){
            return '--qos="medium"'
        }
        else {
            return '--qos="long"'
        }
    }
}
