/*
* ----------------------------------------------------------------------------
*  Nextflow config file for use with GMI Mendel
* ----------------------------------------------------------------------------
* Defines basic usage limits and singularity image id.
*/

singularity {
    enabled = true
    cacheDir = "/scratch-cbe/shared/containers/"
}

executor {
  $slurm {
    name = 'cbe'
    queueSize = 1600
  }
}

process{
  executor = 'slurm'
  module = 'singularity/3.4.1'
  queue = { task.memory <= 170.GB ? 'c' : 'm' }

  clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }

}

params {
  tmpdir = "$SCRATCHDIR/tempFiles/"
  max_memory = 4.TB
  max_cpus = 36
  max_time = 14.d
}
