/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with GMI Mendel
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

process {
  executor = 'slurm'
  // clusterOptions = { "-P $params.project " }
}

executor {
  $slurm {
    name = 'cbe'
    queueSize = 1600
  }
}

process{

  withLabel: env_medium{
      clusterOptions = { task.attempt <= 2 ? '--qos="short"' : '--qos="medium"' }
  }

  withLabel: env_gatk_medium{
      clusterOptions = { task.attempt <= 1 ? '--qos="short"' : '--qos="medium"' }
  }

  withLabel: env_large{
    clusterOptions = { task.attempt == 1 ? '--qos="short"' : '--qos="medium"' }
  }

  withLabel: env_x_large{
    clusterOptions = { '--qos="medium" --partition="m"' }
  }
}

params {
  tmpdir = "$SCRATCHDIR/tempFiles/"
  max_memory = 180.GB
  max_cpus = 24
  max_time = 8.h
}
