/*
* -------------------------------------------------
* SNPcall Nextflow config file
* -------------------------------------------------
* This file contains basic process requirement setup
* It DOES NOT contain any config for cluster, so will run
* in default mode by itself. It should be used with
* the max_memory, max_cpus and max_time params for
* customising hardware limits
*/

singularity {
    enabled = true
    cacheDir = "$HOME/.singularity"
}

process {

    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'

    // container = 'nordborglab/snpcall:latest'
    conda = "$HOME/.conda/envs/snpcall"
    // module = ['gatk/3.8-1-java-1.8']

    withLabel: env_small {
        cpus = 1
        memory = { check_max((6.GB + (2.GB * task.attempt)), 'memory') }
        time = { check_max((1.h + (1.h * task.attempt)), 'time') }
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    }

    withLabel: env_medium {
        cpus = 2
        memory = { check_max((10.GB + (5.GB * task.attempt)), 'memory') }
        time = { check_max((2.h + (3.h * task.attempt)), 'time') }
    }

    withLabel: env_gatk_medium {
        cpus = 2
        memory = { check_max((10.GB + (5.GB * task.attempt)), 'memory') }
        time = { check_max((5.h + (3.h * task.attempt)), 'time') }
    }

    withLabel: env_large {
        cpus = { (6 + (2 * task.attempt))  }
        memory = { (50.GB + (10.GB * task.attempt)) }
        time = { (5.h + (3.h * task.attempt)) }
    }

    withLabel: env_x_large {
        cpus = { (6 + (2 * task.attempt))  }
        memory = { (100.GB + (50.GB * task.attempt)) }
        time = { (8.h + (5.h * task.attempt)) }
    }
}
